@model DDDCinema.Application.Presentation.Promotions.PromotionDetailsDTO
@{
    ViewBag.Title = "Details";
}

<h2>Promotion Details</h2>
<div class="summary">
    <div class="summary-row">
        <label>Name:</label>
        <span>@Model.Name</span>
    </div>
    <div class="summary-row">
        <label>Valididty Dates:</label>
        @if (Model.StartDate.HasValue)
        {
            <span></span>
            <div class="summary-row">
                <label>From</label><span>@Model.StartDate.Value.ToShortDateString()</span>
            </div>
            <div class="summary-row">
                <label>To</label><span>@Model.EndDate.Value.ToShortDateString()</span>
            </div>
        }
        else
        {
            <span>Not set</span>
        }
    </div>
    <div class="summary-row">
        <label>Condition:</label>
        <span>@(string.IsNullOrEmpty(Model.Condition) ? "Not set" : Model.Condition)</span>
    </div>
    <div class="summary-row">
        <label>Benefit:</label>
        <span>@(string.IsNullOrEmpty(Model.Benefit) ? "Not set" : Model.Benefit)</span>
    </div>
</div>

<div class="actions">
    <div class="header">Actions</div>
    <div class="content">
        @Html.ActionLink("Change Name", "Rename", new { id = Model.Id })
        @Html.ActionLink("Change Dates", "SetValidityDates", new { id = Model.Id })
        @Html.ActionLink("Change Receive Condition", "SetCondition", new { id = Model.Id })
        @Html.ActionLink("Change Benefit", "SetBenefit", new { id = Model.Id })
        @if (Model.IsComplete)
        {
            @Html.ActionLink("Mark as complete", "MarkAsComplete", new { id = Model.Id })
        }
    </div>
</div>
