@using DDDCinema.Promotions;
@model List<DDDCinema.Application.Presentation.Promotions.PromotionDraftDTO>
@{
    ViewBag.Title = "My Promotions";
}

<h2>My Promotions</h2>

<div class="action-buttons">
    @Html.ActionLink("Create new", "New", null, new { @class = "btn btn-default" })
</div>
@if (Model.Count > 0)
{
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>State</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
        @foreach (var promotion in Model)
        {
            var details = promotion.State == DraftState.New
                ? "Edit"
                : promotion.State == DraftState.FixesRequired ? "Correct" : "View Details";

            <tr>
                <td>@promotion.Name</td>
                <td>@promotion.State</td>
                <td>@promotion.CreationDate</td>
                <td class="actions">
                    @Html.ActionLink(details, "Details", new { id = promotion.PromotionId })
                    @if (promotion.IsComplete && (promotion.State == DraftState.New || promotion.State == DraftState.FixesRequired))
                    {
                       @Html.ActionLink("Mark as complete", "MarkAsComplete", new { id = promotion.PromotionId })
                    }
                </td>
            </tr>
        }
    </table>
}